#available-widgets [class^='newsmag_widget_posts_column-'] .widget-title::before,
#available-widgets [class*=' newsmag_widget_posts_column-'] .widget-title::before {
  content: url('../img/posts_column.png');
  top: 2px;
}

#available-widgets [class^='newsmag_widget_posts_list_vertical-'] .widget-title::before,
#available-widgets [class*=' newsmag_widget_posts_list_vertical-'] .widget-title::before {
  content: url('../img/posts_vertical_list.png');
  top: 2px;
}

#available-widgets [class^='newsmag_widget_posts_list_horizontal-'] .widget-title::before,
#available-widgets [class*=' newsmag_widget_posts_list_horizontal-'] .widget-title::before {
  content: url('../img/posts_horizontal.png');
  top: 2px;
}

#available-widgets [class^='newsmag_widget_posts_grid-'] .widget-title::before,
#available-widgets [class*=' newsmag_widget_posts_grid-'] .widget-title::before {
  content: url('../img/posts_grid.png');
  top: 0;
}

#available-widgets [class^='newsmag_slider_widget-'] .widget-title::before,
#available-widgets [class*=' newsmag_slider_widget-'] .widget-title::before {
  content: url('../img/posts_slider.png');
  top: 0;
}

#available-widgets [class^='newsmag_widget_posts_carousel-'] .widget-title::before,
#available-widgets [class*=' newsmag_widget_posts_carousel-'] .widget-title::before {
  content: url('../img/posts_carousel.png');
  top: 0;
}
#available-widgets-list [class^='newsmag_'], #available-widgets-list [class*=' newsmag_'], #available-widgets-list [class^='newsmag-'], #available-widgets-list [class*=' newsmag-'] {
  background: rgba(0, 115, 170, 0.05) !important;
}