body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  line-height: $font__line-height-body;
}

p {
  font-size: 15px;
  font-family: $font__main;
  color: $color__text-main;
  line-height: 22px;
  margin-bottom: 1.5em;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: $color__text-main;
  &:hover,
  &:focus,
  &:visited,
  &:active {
    text-decoration: none;
  }
  &.newsmag-comments-link {
    color: #767676;
    &:focus, &:hover {
      color: $color__brand-red;
    }
  }
}

@import "headings";

@import "copy";