ul {
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;
}

ul li:before {
    content: "\f111";
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: 0;
    width: 12px;
    color: #ff3d2e;
    font-size: 6px;
    position: relative;
    bottom: 2px;
}

blockquote{
    quotes: "" "";
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    margin-bottom: 1.5em;
}
blockquote > p {
    color: #ff3d2e;
    font-size: 23px;
    font-style: italic;
    line-height: 24px;
}