html {
  box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  margin-bottom: 1.5em;
  > p {
    color: $color__brand-red;
    font-size: 23px;
    font-style: italic;
    line-height: 24px;
  }

}

.entry-content blockquote, .entry-content q {
  > p {
    font-size: 23px;
    font-style: italic;
    line-height: 24px;
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@import "lists";

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

@import "tables";

.blazy {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  @include transform(scale(1));
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  &.b-loaded {
    -webkit-filter: initial;
    filter: initial;
    @include transform(initial);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.entry-content p {
  overflow: hidden;
}