.newsmag-news-ticker {
  max-height: 45px;
  overflow: hidden;
  @media (max-width: 767px) {
    text-align: center;
    max-height: initial;
  }
  .newsmag-module-title {
    color: #FFF;
    padding: 12px 25px;
    font-weight: 600;
    background: $color__brand-red;
    display: inline-block;
    @media (max-width: 767px) {
      display: inline-block;
      margin-bottom: 20px;
    }
    i.fa {
      color: #FFF;
      margin-right: 10px;
    }
  }
  ul {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    @media (max-width: 767px) {
      height: 45px;
    }
    @media (min-width: 768px) {
      width: 73%;
      display: inline-block !important;
    }
    list-style-type: none;
    position: relative;
    li {
      padding:0 2px;
      a {
        color: $font__main;
        font-size: 14px;
        font-family: 'Lato';
        font-weight: 400;
        &:hover,
        &:focus,
        &:active {
          color: $color__brand-red;
        }
      }
    }
  }
}