body,
button,
input,
select,
textarea {
  color       : $color__text-main;
  font-family : $font__main;
  line-height : $font__line-height-body;
}

p {
  font-size     : 15px;
  font-family   : $font__main;
  color         : $color__text-main;
  line-height   : 1.4em;
  margin-bottom : 1.5em;
}

a {
  font-weight     : 400;
  text-decoration : none;
  color           : $color__text-main;
  &:hover {
    text-decoration : none;
  }
}

@import "headings";

@import "copy";