
.widget_search {
  margin-bottom: 30px;
  form {
    position: relative;
    label {
      width: 100%;
    }
  }
  input {
    height: 35px;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 50px;
    width: 100%;
    font-size: 15px;
    font-family: $font__main;
    font-weight: 400;
  }

  .search-form::before {
    position: absolute;
    z-index: 0;
    font-size: 18px;
    right: 15px;
    top: 2px;
    content: '\f002';
    color: $color__brand-red;
    display: block;
    font-family: 'FontAwesome';
  }

  .search-submit {
    width: 46px;
    height: 35px;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    border: none;
    text-indent: -99999999999px;
    text-align: center;
    &:hover, &:focus{
      background:transparent;
    }
  }
}

// Add margin bottom
.widget_newsmag_banner, .widget_text {
  margin-bottom: 30px;
}

/**
* Select all widgets except for the search box
*/
.widget:not(.widget_newsmag_banner):not(.newsmag_slider) {
  > h3 {
    font-size: 18px;
    font-family: $font__alternate;
    font-weight: 600;
    color: $color__brand-red;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
  }

  margin: 0 0 50px;
  /**
  * Reset the margins for UL / OL
  */
  > ul, > ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  /* Make sure select elements fit in widgets. */
  select {
    padding: 6px;
    max-width: 100%;
    option {
      max-width: 233px;
    }
  }

  &.popular-posts {
    .posts-list {
      li {
        display: inline-block;
        margin-bottom: 11px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        width: 100%;
        &:last-of-type {
          border-bottom: none;
        }
        > a {
          width: 65px;
          height: 65px;
          display: inline-block;
          float: left;
          position: relative;
          &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(41, 41, 41, 0);
            background-image: -webkit-linear-gradient(bottom, #000, rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(bottom, #000, rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(bottom, #000, rgba(0, 0, 0, 0));
            background-image: -ms-linear-gradient(bottom, #000, rgba(0, 0, 0, 0));
            background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
            content: '';
            z-index: 1;
          }
        }
        .content {
          display: inline-block;
          float: left;
          margin-left: 20px;
          width: 67%;
          a {
            font-weight: 700;
            font-size: 15px;
            color: #333333;
            &:hover, &:focus {
              color: $color__brand-red;
            }
          }
        }
      }
    }
  }

  &.widget_recent_entries {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          font-weight: 700;
          font-size: 15px;
          color: #333333;
          &:hover, &:focus {
            color: $color__brand-red;
          }
        }
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        &:last-of-type {
          border: none;
        }
        .post-date {
          display: block;
          position: relative;
          &:before {
            font-family: 'FontAwesome';
            color: $color__brand-red;
            content: '\f017';
            display: inline-block;
            position: relative;
            margin-right: 5px;
          }
        }
      }
    }
  }

  &.widget_nav_menu {
    > div {
      > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 15px;
        color: $color__text-main;
        li {
          a {
            font-size: 15px;
            color: $color__text-main;
            font-family: $font__main;
            &:hover,
            &:focus {
              text-decoration: none;
              color: $color__brand-red;
            }
          }

          ul, ol {
            list-style-type: none;
            padding-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            li {
              &:before {
                content: "\f105";
                font-family: 'FontAwesome';
                display: inline-block;
                margin-left: 0;
                width: 15px;
                color: $color__brand-red;
              }
              > ul, > ol {
                margin-top: 0;
                margin-bottom: 0;
                @media (min-width: 1200px) {
                  padding-left: 20px;
                }
                li {
                  &:before {
                    display: none;
                  }
                }
              }
              a {
                color: #767676;
                &:hover,
                &:focus {
                  text-decoration: none;
                  color: $color__brand-red;
                }
              }
            }
          }
        }
      }
    }
  }

  &.popular-posts {
    .posts-list {
      .content {
        margin-top: 4px;
      }
    }
  }
  /**
  * Style the tag cloud
  */
  &.widget_tag_cloud {
    .tagcloud {
      a {
        background: #fafafa;
        padding: 5px 15px;
        display: inline-block;
        margin: 0 7px 9px 0;
        font-size: 14px !important;
        border-radius: 3px;
        color: #767676;
        &:hover, &:focus {
          background: $color__brand-red;
          color: #FFF;
        }
      }
    }
  }

  &.widget_nav_menu {
    > div {
      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: $color__text-main;
        > li {
          margin-bottom: 10px;
          &:before {
            content: "\f105";
            font-family: 'FontAwesome';
            display: inline-block;
            margin-left: 0;
            width: 15px;
            color: $color__brand-red;
          }
          a {
            color: $color__text-main;
            font-family: $font__alternate;
            font-weight: 500;
            font-size: 15px;
            &:hover,
            &:focus {
              text-decoration: none;
              color: $color__brand-red;
            }
          }
        }
      }
    }
  }
  &.widget_recent_comments {
    ul {
      li {
        color: #767676;
        margin-bottom: 10px;
        .comment-author-link {
          a {
            color: #767676;
            font-size: 15px;
            font-weight: 400;
          }
        }
        a {
          font-weight: 500;
          font-family: 'Poppins';
        }
      }
    }
  }
  &.widget_rss {
    .rss-widget-icon {
      display: none;
    }

    h3 {
      margin-top: 0;
      > a {
        font-size: 18px;
        font-family: $font__alternate;
        font-weight: 700;
        color: $color__brand-red;
        text-transform: uppercase;
        margin-bottom: 25px;
        &:first-of-type {
          &:before {
            content: '\f143';
            font-family: 'FontAwesome';
            display: inline-block;
            position: relative;
            margin-right: 5px;
            color:#767676;
          }
        }
      }
    }
    ul {
      li {
        margin-bottom: 20px;
        .rsswidget {
          display: block;
          font-size: 15px;
          color: #333;
          font-family: 'Poppins';
          font-weight: 700;
          &:hover, &:focus {
            color: $color__brand-red;
          }
        }
        .rss-date {
          display: block;
          position: relative;
          color: #767676;
          margin-bottom: 10px;
          &:before {
            font-family: 'FontAwesome';
            color: #767676;
            content: '\f017';
            display: inline-block;
            position: relative;
            margin-right: 5px;
          }
        }
        .rssSummary {
          font-size: 15px;
        }
        cite {
          margin-top: 15px;
          color: #767676;
          font-style: normal;
          font-size: 15px;
        }
      }
    }
  }
  &.widget_categories, &.widget_archive, &.widget_meta, &.widget_pages {
    > select {
      width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: $color__text-main;
      > li {
        margin-bottom: 10px;
        &:before {
          content: "\f105";
          font-family: 'FontAwesome';
          display: inline-block;
          margin-left: 0;
          width: 15px;
          color: $color__brand-red;
        }
        a {
          color: $color__text-main;
          font-family: $font__alternate;
          font-weight: 500;
          font-size: 15px;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color__brand-red;
          }
        }

        .newsmag-cat-count {
          float: right;
          color: #ccc;
        }
      }
    }
    .children {
      list-style-type: none;
      padding-left: 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      li {
        &:before {
          content: "\f105";
          font-family: 'FontAwesome';
          display: inline-block;
          margin-left: 0;
          width: 15px;
          color: $color__brand-red;
        }
        > ul, > ol {
          margin-top: 0;
          margin-bottom: 0;
          @media (min-width: 1200px) {
            padding-left: 20px;
            margin-bottom: 8px;
            margin-top: 8px;
          }
          li {
            &:before {
              display: none;
            }
          }
        }
        a {
          color: #767676;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color__brand-red;
          }
        }
      }
    }
  }

  /**
  * Calendar restyling. The title will always be hidden.
  */
  &.widget_calendar {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    display: inline-block;
    table {
      border: 0;
      border-collapse: separate;
      border-spacing: 4px;
    }
    h3 {
      display: none;
    }
    #wp-calendar {
      font-size: 14px;
      color: #767676;
      margin-bottom: 0;
      > caption {
        background-color: $color__brand-red;
        color: #FFF;
        min-height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 11px;
        padding-top: 11px;
        position: relative;
        font-family: 'Poppins';
      }
      thead {
        color: $color__brand-red;
        > tr {
          height: 50px;
        }
      }
      tfoot {
        display: block;
        height: 0;
        float: left
      }

      th {
        background: transparent;
        border: none;
        color: $color__text-main;
        font-size: 17px;
        font-weight: 700;
      }
      td.pad {

      }
      td:not(.pad) {
        background: #f1f1f1;
        color: #767676;
        width: 44px;
        height: 44px;
      }
      td, th {
        text-align: center;
        a {
          color: #fff;
          text-decoration: none;
          background: $color__brand-red;
          height: 44px;
          line-height: 44px;
          display: block;
          &:hover, &:focus {
            text-decoration: none;
            background: lighten($color__brand-red, 5%);
          }
        }
      }
      #prev {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 35px;
        height: 50px;
        background-color: $color__brand-red;
        color: #FFF;
        cursor: pointer;
        &:hover {
          &:before {
            color: #000;
          }
        }
        &:before {
          content: ' \f104 ';
          display: block;
          font-size: 24px;
          line-height: 48px;
          text-align: center;
          position: relative;
          color: #FFF;
          font-family: 'FontAwesome';
        }
        > a {
          top: 6px;
          position: absolute;
          color: transparent;
          background: transparent;
        }
      }
      #next {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 35px;
        height: 50px;
        background-color: $color__brand-red;
        color: #FFF;
        display: block;
        cursor: pointer;
        &:hover {
          &:before {
            color: #000;
          }
        }
        &:before {
          content: ' \f105 ';
          display: block;
          font-size: 24px;
          line-height: 48px;
          text-align: center;
          position: relative;
          color: #FFF;
          font-family: 'FontAwesome';
        }
        > a {
          top: 6px;
          position: absolute;
          color: transparent;
          background: transparent;
        }
      }
    }
  }
}

.widget-bordered {
  border: 1px solid #e1e1e1;
  position: relative;
}

.widget-title-background {
  background-color: $color__brand-red;
  color: #FFF;
  padding: 18px 0;
  display: block;
  text-transform: uppercase;
  font-famiy: $font__alternate;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  width: 99.6%;
  position: relative;
  left: 1px;
}

.site-footer {
  padding-top: 30px;
  .newsmag-contact-p {
    strong {
      color: $color__text-title;
    }
    margin-bottom: 0;
  }

  .newsmag-contact-logo {
    margin-top: 20px;
  }

  .widget {
    font-size: 15px;
    font-family: $font__main;
    margin-bottom: 40px;
    > h3.widget-title {
      font-family: $font__alternate;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 25px;
      margin-top: 0;
      color: #333333;
    }
    &.widget_newsmag_recent {
      .newsmag-recent-post-widget {
        height: 65px;
        margin-left: 0;
        margin-right: 0;
        .newsmag-title {
          h3 {
            margin-bottom: 15px;
            text-transform: initial;
          }
        }
        .newsmag-post-content {
          width: 225px;
          @media (max-width: 1199px) {
            width: 187px;
          }
        }
      }
    }

    &.widget_categories {
      position: relative;
      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: $color__text-main;
        > li {
          margin-bottom: 10px;
          &:before {
            content: "\f105";
            font-family: 'FontAwesome';
            display: inline-block;
            margin-left: 0;
            width: 15px;
            color: $color__brand-red;
          }
          a {
            color: $color__text-main;

            &:hover,
            &:focus {
              text-decoration: none;
              color: $color__brand-red;
            }
          }

          .newsmag-cat-count {
            float: right;
            color: #ccc;
          }
        }
      }
    }
  }
}

.flickr-widget {
  .flickr_badge_images {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .flickr_badge_image {
      float: left;
      display: inline-block;
      margin: 1px;
    }
  }
}