.newsmag-image-banner {
  text-align : center;
  a {
    display : inline-block;
    margin  : 0 0 30px;

    > img {
      width : 100%;
    }
  }
  > img {
    display : inline-block;
    margin  : 0 0 30px;
  }
}

@media (max-width : 767px) {
  .newsmag-content {
    .newsmag-image-banner {
      display : none;
    }
  }
  .before-content-area {
    .newsmag-image-banner {
      display : none;
    }
  }
  .header-banner {
    display : none;
  }
}

