.primary-slider {
  position: relative;
}

/**
 * Slider Nav List
 * Usage:  Displays a list with the
 */

.owl-nav-list {
  padding: 0 0 60px 60px;
  z-index: 9999;
  bottom: 65px;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  min-height: 60px;
  padding-bottom: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: block;
    padding: 2px;
    height: 24px;
    span {
      color: #ccc;
      font-size: 12px;
      font-weight: 300;
      display: inline-block;
      padding: 0 5px 0 0;
      border-right: 4px solid #79170f;
      margin-right: 10px;
    }
    &.active {
      a {
        color: #fff;
      }
      span {
        border-right: 4px solid #FF3D2E;
      }
    }
  }

  a:focus {
	  border-bottom: 3px solid $color__brand-red;
  }

  h4 {
    font-family: "poppins";
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    background: #E8A820;
    color: #fff;
    padding: 0 6px;
  }
  a {
    color: #ccc;
    text-decoration: none;
    outline: none;
    font-family: "poppins";
    font-size: 12px;
    font-weight: 600;
    &:active {
      outline: none;
    }
  }
}

.newsmag-slider {
  .slide-meta strong {
    color: #ccc;
    font-weight: 300;
  }

  .slide-meta span {
    color: #fff;
    font-family: "Lato";
    padding-left: 5px;
    display: block;
    float: left;
  }

  .item-image {
    background: #000;
    img {
      opacity: .65;
    }
  }

}

.newsmag_slider.slide-meta .ticker {
  display: block;
}

.newsmag_slider.slide-meta .ruller {
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.newsmag_slider.item-image .slider-caption {
  text-align: left;
}

.newsmag_slider .slide-meta a {
  line-height: 24px;
  padding: 2px 8px 0;
  font-family: "Poppins";
  color: #fff;
  background: #FF3D2E;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;

}

#content .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 3px;
}

.newsmag_slider .entry-title a {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 38px;
  line-height: 40px;
  text-align: left;
}

.newsmag_slider .owl-item.active .entry-title {
  padding-top: 20px;
}

.newsmag_slider .owl-item.active .entry-title a {
  display: block;
  animation: anim_newsmag_sliderPro_title 1200ms linear both;
  animation-delay: .3s;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.newsmag_slider .owl-item.active .ticker {
  animation: anim_newsmag_sliderPro_meta 600ms linear both;
  animation-delay: .8s;
}

.newsmag_slider .owl-item.active .category a {
  animation: anim_newsmag_sliderPro_category 1000ms linear both;
  animation-delay: 400ms;
}

.newsmag_slider .owl-item.active {
  animation: anim_newsmag_sliderPro_image 500ms linear both;
}

@media (max-width: 1280px) {
  .owl-nav-list {
    display: none;
  }
  #content .owl-dots {
    padding-right: 40px;
    text-align: right;
  }
  #content .owl-dots .owl-dot span {
    height: 20px;
  }
  #content .newsmag-slider .item-image .slider-caption {
    bottom: 25%;
  }

}

@media (max-width: 740px) {
  #content .newsmag-slider .entry-title a {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 640px) {
  #content .newsmag-slider .slider-caption {
    .entry-title a {
      font-size: 24px;
      line-height: 26px;
    }
  }
  #content .owl-dots .owl-dot span {
    height: 4px;
  }
}

@media (max-width: 440px) {
  #content .newsmag-slider .item-image .slider-caption {
    bottom: 10%;
    .entry-title a {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.newsmag_slider .category a {
  -webkit-transition: background 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: background 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: background 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: background 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.newsmag_slider .category a:hover,
.newsmag_slider .category a:focus {
  background: #000;
}

.newsmag_slider .owl-nav-list.active h4 {
  animation: anim-newsmag-nav-list 1000ms linear both;
}

.newsmag_slider .owl-nav-list li:nth-child(1) {
  animation: anim-newsmag-nav-list 810ms linear .45s both;
}

.newsmag_slider .owl-nav-list li:nth-child(2) {
  animation: anim-newsmag-nav-list 810ms linear .65s both;
}

.newsmag_slider .owl-nav-list li:nth-child(3) {
  animation: anim-newsmag-nav-list 810ms linear .85s both;
}

.newsmag_slider .owl-nav-list li:nth-child(4) {
  animation: anim-newsmag-nav-list 810ms linear 1.1s both;
}

.newsmag_slider .owl-nav-list li:nth-child(5) {
  animation: anim-newsmag-nav-list 810ms linear 1.3s both;
}

.newsmag_slider .owl-nav-list li:nth-child(6) {
  animation: anim-newsmag-nav-list 810ms linear 1.5s both;
}

.newsmag_slider .owl-nav-list li:nth-child(7) {
  animation: anim-newsmag-nav-list 810ms linear 1.7s both;
}

.newsmag_slider .owl-nav-list li:nth-child(8) {
  animation: anim-newsmag-nav-list 810ms linear 1.9s both;
}

.newsmag_slider .owl-nav-list ul,
.newsmag_slider .owl-nav-list li {
  display: block;
}

.newsmag_slider .owl-nav-list li.active {
  -animation: anim-newsmag-nav-list-active 650ms linear both;
}

@keyframes anim_newsmag_sliderPro_image {
  0% {
    opacity: .4;
  }
  12% {
    opacity: .55;
  }
  24% {
    opacity: .65;
  }
  36% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim_newsmag_sliderPro_category {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    opacity: 0;
  }
  2.92% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
  }
  3.37% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
  }
  3.47% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
  }
  4.58% {
    transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);
  }
  5.69% {
    transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);
  }
  5.76% {
    transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
  }
  7.41% {
    transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
  }
  7.51% {
    transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);
  }
  7.88% {
    transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);
  }
  8.68% {
    transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
  }
  10.03% {
    transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);
  }
  10.85% {
    transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);
  }
  11.53% {
    transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
    opacity: 1;
  }
  12.22% {
    transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);
  }
  14.18% {
    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);
  }
  14.37% {
    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);
  }
  19.23% {
    transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
  }
  20.01% {
    transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);
  }
  23.05% {
    transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);
  }
  25.75% {
    transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);
  }
  26.94% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
  }
  31.58% {
    transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);
  }
  31.73% {
    transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);
  }
  37.32% {
    transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);
  }
  38.15% {
    transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);
  }
  42.35% {
    transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
  }
  48.9% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);
  }
  57.77% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  60.47% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  69.36% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes anim_newsmag_sliderPro_title {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -100, 0, 0, 1);
    opacity: 0;
  }
  1.78% {
    transform: matrix3d(1, 0, 0, 0, 0.621, 1, 0, 0, 0, 0, 1, 0, -56.546, 0, 0, 1);
  }
  3.56% {
    transform: matrix3d(1, 0, 0, 0, 0.829, 1, 0, 0, 0, 0, 1, 0, -29.862, 0, 0, 1);
  }
  5.34% {
    transform: matrix3d(1, 0, 0, 0, 0.695, 1, 0, 0, 0, 0, 1, 0, -14.497, 0, 0, 1);
  }
  7.06% {
    transform: matrix3d(1, 0, 0, 0, 0.477, 1, 0, 0, 0, 0, 1, 0, -6.399, 0, 0, 1);
  }
  7.12% {
    transform: matrix3d(1, 0, 0, 0, 0.47, 1, 0, 0, 0, 0, 1, 0, -6.216, 0, 0, 1);
  }
  10.51% {
    transform: matrix3d(1, 0, 0, 0, 0.146, 1, 0, 0, 0, 0, 1, 0, -0.353, 0, 0, 1);
    opacity: 1;
  }
  10.68% {
    transform: matrix3d(1, 0, 0, 0, 0.135, 1, 0, 0, 0, 0, 1, 0, -0.243, 0, 0, 1);
  }
  14.01% {
    transform: matrix3d(1, 0, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0.576, 0, 0, 1);
  }
  14.24% {
    transform: matrix3d(1, 0, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0.577, 0, 0, 1);
  }
  17.46% {
    transform: matrix3d(1, 0, 0, 0, -0.033, 1, 0, 0, 0, 0, 1, 0, 0.398, 0, 0, 1);
  }
  31.36% {
    transform: matrix3d(1, 0, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
  }
  36.48% {
    transform: matrix3d(1, 0, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  44.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes anim_newsmag_sliderPro_meta {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    opacity: 0;
  }
  2.5% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -195.663, 0, 0, 1);
  }
  4.9% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -128.099, 0, 0, 1);
  }
  9.81% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -51.668, 0, 0, 1);
    opacity: 0;
  }
  14.71% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.475, 0, 0, 1);
  }
  19.62% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.689, 0, 0, 1);
    opacity: 1;
  }
  29.43% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.391, 0, 0, 1);
  }
  39.14% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.113, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes anim-newsmag-nav-list-active {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes anim-newsmag-nav-list {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -200, 0, 1);
    opacity: 0;
  }
  1.3% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -158.014, 0, 1);
  }
  2.55% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -121.865, 0, 1);
  }
  4.1% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -83.942, 0, 1);
  }
  5.71% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -53.064, 0, 1);
  }
  8.11% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -21.098, 0, 1);
  }
  8.81% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -14.56, 0, 1);
    opacity: 0;
  }
  11.96% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.217, 0, 1);
  }
  12.11% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.687, 0, 1);
  }
  15.07% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.441, 0, 1);
  }
  16.12% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.671, 0, 1);
  }
  27.23% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.568, 0, 1);
    opacity: 1;
  }
  27.58% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.414, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.207, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.194, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.032, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes anim-back-to-top {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
  }
  2.92% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 45.073, 0, 0, 1);
  }
  3.37% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 38.29, 0, 0, 1);
  }
  3.47% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 36.865, 0, 0, 1);
  }
  4.58% {
    transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 22.883, 0, 0, 1);
  }
  5.69% {
    transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.184, 0, 0, 1);
  }
  5.76% {
    transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 11.589, 0, 0, 1);
  }
  7.41% {
    transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.268, 0, 0, 1);
  }
  7.51% {
    transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.818, 0, 0, 1);
  }
  7.88% {
    transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, -0.669, 0, 0, 1);
  }
  8.68% {
    transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, -3.215, 0, 0, 1);
  }
  10.03% {
    transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, -5.618, 0, 0, 1);
  }
  10.85% {
    transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, -6.204, 0, 0, 1);
  }
  11.53% {
    transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, -6.331, 0, 0, 1);
  }
  12.22% {
    transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, -6.206, 0, 0, 1);
  }
  14.18% {
    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -5.018, 0, 0, 1);
  }
  14.37% {
    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, -4.868, 0, 0, 1);
  }
  19.23% {
    transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, -1.285, 0, 0, 1);
  }
  20.01% {
    transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, -0.908, 0, 0, 1);
  }
  23.05% {
    transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1);
  }
  25.75% {
    transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, 0.236, 0, 0, 1);
  }
  26.94% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0.253, 0, 0, 1);
  }
  31.58% {
    transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, 0.135, 0, 0, 1);
  }
  31.73% {
    transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0.131, 0, 0, 1);
  }
  37.32% {
    transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1);
  }
  38.15% {
    transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, 0.003, 0, 0, 1);
  }
  42.35% {
    transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, -0.01, 0, 0, 1);
  }
  48.9% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1);
  }
  57.77% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  60.47% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  69.36% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.61% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}