/**
/ Underscores default styling
*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #FFF;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      left: -999em;
      z-index: 99999;
      padding: 0 10px;
      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul,
        &:focus > ul {
          left: 100%;
          &.right-edge {
            left: 50%;
            top: 100%;
          }
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a,
      :focus > a {
      }

      a:hover,
      a.focus,
      a:focus {
      }
    }

    li:hover > ul,
    li.focus > ul,
    &:focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/*
* Small menu.
*/
.menu-toggle {
  display: block;
  width: 35px;
  height: 35px;
  color: $color__text-main;
  border-color: $color__text-main;
  background: transparent;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  &:hover, &:focus {
    background: $color__text-main;
    color: #FFF;
  }
}

.main-navigation.toggled ul {
  display: inline-block;
  width: 100%;
  background: $color__brand-red;
  > li {
    > a {
      /* Remove after element for small screens */
      &:after {
        display: none;
      }
    }
    /* Remove hover effects for small screens */
    &.menu-item-has-children {
      > ul {
        li {
          a {
            padding: 0 0 10px 0;
          }
          &:hover {
            > a {
              color: $color__text-main;
            }
          }
          &.menu-item-has-children {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  /* List items will be 100% wide, spanning across the whole width of device */
  li {
    display: block;
    width: 100%;
    padding-right: 0;
    &.menu-item-has-children {
      &:after {
        display: none;
      }
      > ul {
        li {
          &:after {
            display: none;
          }
          &:hover {
            background-color: initial;
          }
        }
      }
    }
    /* Remove big-screen styling for submenus, we display them little bit to the right */
    ul {
      box-shadow: none;
      left: initial;
      top: initial;
      position: relative;
      padding-left: 20px;
      ul {
        left: initial;
        top: initial;
        position: relative;
        padding-left: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }

  .main-navigation .menu {
    display: initial;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

/* Newsmag Menu Customization starts here */
.main-navigation {
  background: $color__brand-red;
  &.stick-menu {
    z-index: 99999 !important;
  }

  .stick-menu-logo {
    display: inline-block;
    float: left;
    line-height: 48px;
    margin-right: 0;

    a {
      line-height: initial;
      padding-top: 0;
      padding-bottom: 0;
    }

    img {
      width: 0;
      max-width: 150px;
      max-height: 35px;
    }
  }

  a {
    line-height: 26px;
    padding-top: 12px;
    padding-bottom: 9px;
    position: relative;
    color: #FFF;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    &:after {
      content: '';
      background: $color__text-main;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      width: 0;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      height: 2px;
      margin: 0 auto;
    }
  }

  .nav-menu {
    > li {
      display: inline-block;
      padding-right: 40px;
      position: relative;

      &.active,
      &.current-menu-item,
	  &:hover,
	  &:focus-within,
      &:focus {
        > a {
          color: $color__text-main;
        }
      }

      @media screen and (min-width: 768px) {
        &.active,
        &.current-menu-item,
		&:hover,
		&:focus-within,
        &:focus {
          > a {
            color: #fff;
            &:after {
              width: 100%;
              -webkit-transition: all .1s linear;
              transition: all .1s linear;
            }
          }
        }
      }

      > a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 15px;
        position: relative;
        text-transform: uppercase;
        font-family: "Poppins";
        font-weight: 500;
        &:hover {
          outline: none;
        }
      }
      &:last-of-type {
        padding-right: 0;
      }
      &.menu-item-has-children {
        &:after {
          content: "\f107";
          font-family: "newsmag";
          font-size: 16px;
          display: inline-block;
          padding-left: 5px;
          color: #fff;
        }
        &:hover,
        &:focus {
          &:after {
          }
        }
        > ul {
          li {
            &:hover
            &:focus {

              > a, &:after {

              }
              > a {

              }
            }
            &.menu-item-has-children {
              position: relative;
              &:after {
                content: "\f105";
                font-family: "newsmag";
                font-size: 16px;
                display: inline-block;
                position: absolute;
                right: 5px;
                bottom: 12px;
              }
              @media screen and (min-width: 768px) {
                &:hover,
                &:focus {
                  &:after {
                    color: $color__brand-red;
                  }
                  > a {
                    color: $color__brand-red;
                    outline: none;
                  }
                }
              }
              @media screen and (max-width: 767px) {
                &:hover,
                &:focus {
                  &:after {
                    color: #333;
                  }
                  > a {
                    color: #333;
                    outline: none;
                  }
                }
              }
            }
            a {
              padding: 10px 15px;
              font-size: 15px;
              color: #FFF;

              @media screen and (min-width: 768px) {
                border-bottom: 1px solid #f6f6f6;
                color: $color__text-main;
              }

              text-transform: initial;
              text-shadow: none;
              &:hover, &:focus {
                outline: none;
                color: $color__brand-red;
              }
            }
            &:last-of-type {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

.copyright-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    text-align: right;
    margin-left: 12px;
    a {
      color: #FFF;
      &:hover, &:focus, &:active {
        color: $color__text-main;
      }
    }
  }
}