/**
/ Underscores default styling
*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #FFF;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      left: -999em;
      z-index: 99999;
      padding: 0 10px;
      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/*
* Small menu.
*/
.menu-toggle {
  display: block;
  width: 35px;
  height: 35px;
  color: $font__main;
  border-color: $font__main;
  background: transparent;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#site-navigation.toggled ul {
  display: block;
  > li {
    > a {
      /* Remove after element for small screens */
      &:after {
        display: none;
      }
    }
    /* Remove hover effects for small screens */
    &.menu-item-has-children {
      > ul {
        li {
          a {
            padding: 0 0 10px 0;
          }
          &:hover {
            > a {
              color: $color__text-main;
            }
          }
          &.menu-item-has-children {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  /* List items will be 100% wide, spanning across the whole width of device */
  li {
    display: block;
    width: 100%;
    padding-right: 0;
    &.menu-item-has-children {
      &:after {
        display: none;
      }
      > ul {
        li {
          &:after {
            display: none;
          }
          &:hover {
            background-color: initial;
          }
        }
      }
    }
    /* Remove big-screen styling for submenus, we display them little bit to the right */
    ul {
      box-shadow: none;
      left: initial;
      top: initial;
      position: relative;
      padding-left: 20px;
      ul {
        left: initial;
        top: initial;
        position: relative;
        padding-left: 20px;
      }
    }
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

/* Newsmag Menu Customization starts here */
#site-navigation {
  border-top: 1px solid #e1e1e1;

  a {
    font-family: 'Lato', serif;
    line-height: 26px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;
    color: $color__text-title;
    display: inline-block;
  }

  .nav-menu {
    > li {
      display: inline-block;
      padding-right: 40px;
      position: relative;
      &.active,
      &:hover,
      &:focus {
        > a {
          color: $color__brand-red;
        }
      }
      > a {
        font-size: 15px;
        position: relative;
        text-transform: uppercase;
        font-family: "Poppins";
        font-weight: 500;
        &:focus {
          color: $color__brand-red;
        }
      }
      &:last-of-type {
        padding-right: 0;
      }
      &.menu-item-has-children {
        &:after {
          content: "\f107";
          font-family: "FontAwesome";
          font-size: 16px;
          display: inline-block;
          padding-left: 5px;
          color: $color__text-title;
        }
        &:hover,
        &:focus {
          &:after {
            color: $color__brand-red;
          }
        }
        > ul {
          li {
            &:hover
            &:focus {
              color: $color__brand-red;
              > a, &:after {
                color: $color__brand-red;
              }
              > a {
                border-color: #cbcbcb;
              }
            }
            &.menu-item-has-children {
              position: relative;
              &:after {
                content: "\f105";
                font-family: "FontAwesome";
                font-size: 16px;
                display: inline-block;
                position: absolute;
                right: 5px;
                bottom: 12px;
                color: #333;
              }
              &:hover
              &:focus {
                &:after {
                  color: $color__brand-red;
                }
              }
            }
            a {
              padding: 10px 15px;
              font-size: 15px;
              border-bottom: 1px solid #f6f6f6;
            }
            &:last-of-type {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
