// -----------------------------------------------------------------------------
// This file contains all styles related to the Social Component
// -----------------------------------------------------------------------------

/* Accessibility purpose */
.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* The social links are actually a menu */
#menu-social, #menu-social-footer {
  ul {
    list-style: none;
    margin: 0;
    text-align: right;
    display: block;
    li {
      display: inline-block;
      position: relative;
      a {
        padding: 9px 5px;
        color: #FFF;
        width: 35px;
        text-align: center;
        &:focus {
          outline: none;
        }
        &:before {
          content: '\f408';
          display: inline-block;
          padding: 0 5px;
          font-family: 'newsmag';
          font-size: 16px;
          vertical-align: top;
          -webkit-font-smoothing: antialiased;
        }
        /* Add hover effects for the links, the brand colors */

        &:hover {
          &[href*="wordpress.org"]::before,
          &[href*="wordpress.com"]::before {
            color: #21759b;
          }
          &[href*="facebook.com"]::before {
            color: #3b5998;
          }
          &[href*="twitter.com"]::before {
            color: #33ccff;
          }
          &[href*="dribbble.com"]::before {
            color: #ea4c89;
          }
          &[href*="plus.google.com"]::before {
            color: #dd4b39;
          }
          &[href*="pinterest.com"]::before {
            color: #c8232c;
          }
          &[href*="github.com"]::before {
            color: #171515;
          }
          &[href*="tumblr.com"]::before {
            color: #34526f;
          }
          &[href*="youtube.com"]::before {
            color: #c4302b;
          }
          &[href*="flickr.com"]::before {
            color: #ff0084;
          }
          &[href*="vimeo.com"]::before {
            color: #1AB7EA;
          }
          &[href*="instagram.com"]::before {
            color: #3f729b;
          }
          &[href*="codepen.io"]::before {
            color: #000;
          }
          &[href*="linkedin.com"]::before {
            color: #0e76a8;
          }
        }

        /* Add the social links depending on the link href */
        &::before {
          content: '\f0c1';
        }
        &[href*="wordpress.org"]::before,
        &[href*="wordpress.com"]::before {
          content: '\f19a';
        }
        &[href*="facebook.com"]::before {
          content: '\f09a';
        }
        &[href*="twitter.com"]::before {
          content: '\f099';
        }
        &[href*="dribbble.com"]::before {
          content: '\f17d';
        }
        &[href*="plus.google.com"]::before {
          content: '\f0d5';
        }
        &[href*="pinterest.com"]::before {
          content: '\f231';
        }
        &[href*="github.com"]::before {
          content: '\f09b';
        }
        &[href*="tumblr.com"]::before {
          content: '\f173';
        }
        &[href*="youtube.com"]::before {
          content: '\f167';
        }
        &[href*="flickr.com"]::before {
          content: '\f16e';
        }
        &[href*="vimeo.com"]::before {
          content: '\f27d';
        }
        &[href*="instagram.com"]::before {
          content: '\e900';
        }
        &[href*="codepen.io"]::before {
          content: '\f1cb';
        }
        &[href*="linkedin.com"]::before {
          content: '\f0e1';
        }
      }
    }
  }
}

.top-header-icons {
  position: relative;
  @media (max-width: 767px) {
    &.pull-right {
      text-align: center;
      float: none !important;
    }
  }
}

#site-navigation.toggled #menu-social ul li {
  width: initial;
}

#menu-social-footer {
  ul {
    text-align: center;
    padding-left: 0;
    margin-top: 20px;
    li {
      border: 1px solid #2f383c;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      line-height: 33px;
      margin: 5px;
      a {
        font-size: 12px;
        padding: 0;
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        display: inline-block;
        &:hover {
          &[href*="wordpress.org"]::before,
          &[href*="wordpress.com"]::before {
            color: #FFF;
          }
          &[href*="facebook.com"]::before {
            color: #FFF;
          }
          &[href*="twitter.com"]::before {
            color: #FFF;
          }
          &[href*="dribbble.com"]::before {
            color: #FFF;
          }
          &[href*="plus.google.com"]::before {
            color: #FFF;
          }
          &[href*="pinterest.com"]::before {
            color: #FFF;
          }
          &[href*="github.com"]::before {
            color: #FFF;
          }
          &[href*="tumblr.com"]::before {
            color: #FFF;
          }
          &[href*="youtube.com"]::before {
            color: #FFF;
          }
          &[href*="flickr.com"]::before {
            color: #FFF;
          }
          &[href*="vimeo.com"]::before {
            color: #FFF;
          }
          &[href*="instagram.com"]::before {
            color: #FFF;
          }
          &[href*="codepen.io"]::before {
            color: #FFF;
          }
          &[href*="linkedin.com"]::before {
            color: #FFF;
          }

          &[href*="wordpress.org"],
          &[href*="wordpress.com"] {
            background: #21759b;
            color: #fff;
          }
          &[href*="facebook.com"] {
            background: #3b5998;
            color: #fff;
          }
          &[href*="twitter.com"] {
            background: #33ccff;
            color: #fff;
          }
          &[href*="dribbble.com"] {
            background: #ea4c89;
            color: #fff;
          }
          &[href*="plus.google.com"] {
            background: #dd4b39;
            color: #fff;
          }
          &[href*="pinterest.com"] {
            background: #c8232c;
            color: #fff;
          }
          &[href*="github.com"] {
            background: #171515;
            color: #fff;
          }
          &[href*="tumblr.com"] {
            background: #34526f;
            color: #fff;
          }
          &[href*="youtube.com"] {
            background: #c4302b;
            color: #fff;
          }
          &[href*="flickr.com"] {
            background: #ff0084;
            color: #fff;
          }
          &[href*="vimeo.com"] {
            background: #1AB7EA;
            color: #fff;
          }
          &[href*="instagram.com"] {
            background: #3f729b;
            color: #fff;
          }
          &[href*="codepen.io"] {
            background: #000;
            color: #fff;
          }
          &[href*="linkedin.com"] {
            background: #0e76a8;
            color: #fff;
          }
        }
      }
    }
  }
}

.mt-navigation-opener {
  &::before {
    content: '\f0c9' !important;
  }
}

.mt-navigation-hidden {
  position: absolute;
  background: #272F32;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: 120px;
  right: 0;
  top: 40px;
  text-align: center !important;
  &.opened {
    visibility: visible;
    opacity: 1;
    top: 45px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  li {
    display: inline-block;
  }

}