/* Top header */
.top-header {
  background: #272f32;
  color: #fff;
  @media (max-width: 767px) {
    max-height: initial;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      a {
        font-family: "Poppins";
        font-size: 14px;
        line-height: 26px;
        padding: 8px 30px 8px 0;
        display: block;
        color: #ffffff;
      }
      &:last-of-type {
        a {
          padding-right: 0;
        }
      }
    }
  }
  @media (max-width: 767px) {
    ul {
      text-align: center;
    }
    #top-header-navigation, .top-header-icons {
      float: none !important;
    }
  }
}