button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__brand-red;
  border-radius: 0;
  background: $color__brand-red;
  color: #FFF;
  font-size: 15px;
  padding: 9px 30px;
  &:hover, &:focus {
    border-color: #333333;
    background-color: #333333;
  }
}

.form-submit {
  .submit {
    border: 1px solid;
    border-color: $color__brand-red;
    border-radius: 0;
    background: $color__brand-red;
    color: #FFF;
    font-size: 15px;
    padding: 9px 30px;
    &:hover, &:focus {
      border-color: #333333;
      background-color: #333333;
    }
  }
}
