input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 6px;
  padding-bottom: 5px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

#cat {
  padding: 10px;
  -webkit-border-radius:3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.error-404.not-found, .newsmag-search-page, .post-password-form {
  input[type="submit"] {
    border: 1px solid;
    border-color: $color__brand-red;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: $color__brand-red;
    color: #FFF;
    font-size: 15px;
    padding: 6px 30px 5px;
    margin-left: 15px;
    &:hover {
      border-color: #333333;
      background-color: #333333;
    }
    &:active {
      border-color: $color__brand-red;
      background-color: $color__brand-red;
    }
  }
}

input[type="submit"] {
  border: 1px solid;
  border-color: $color__brand-red;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: $color__brand-red;
  color: #FFF;
  font-size: 15px;
  padding: 9px 30px;
  &:hover {
    border-color: #333333;
    background-color: #333333;
  }
  &:active {
    border-color: $color__brand-red;
    background-color: $color__brand-red;
  }
}

@media only screen and (min-width: 1024px) {
  .comment-form-author, .comment-form-email, .comment-form-url {
    width: 30%;
    float: left;
    display: inline-block;
    margin-right: 5%;
  }
  .comment-form-url {
    margin-right: 0;
  }
}