input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 0;
  font-size: 15px;
  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 6px;
  padding-bottom: 5px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

#searchform_topbar {
  label {
    margin-bottom: 0;
    bottom: -4px;
    position: relative;
  }
  #search-field-top-bar {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid transparentize(#a9a9a9, .8);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    border-radius: 0;
    color: #a9a9a9;
    width: 0;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
    font-weight: 400;
    &.opened {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      width: 100%;
      padding-left: 10px;
    }
  }
  .search-top-bar-submit {
    background: transparent;
    color: #a9a9a9;
    font-size: 14px;
    border: none;
    outline: none;
    box-shadow: none;
    bottom: 8px;
    position: relative;
    padding: 7px 5px;
  }
}

#cat {
  padding: 10px;
  border-radius: 3px;

}

.error-404.not-found, .newsmag-search-page, .post-password-form {
  input[type="submit"] {
    border: 1px solid;
    border-color: $color__brand-red;
    border-radius: 0;
    background: $color__brand-red;
    color: #FFF;
    font-size: 15px;
    padding: 6px 30px 5px;
    margin-left: 15px;
    &:hover {
      border-color: #333333;
      background-color: #333333;
    }
    &:active {
      border-color: $color__brand-red;
      background-color: $color__brand-red;
    }
  }
}

input[type="submit"] {
  border: 1px solid;
  border-color: $color__brand-red;
  border-radius: 0;
  background: $color__brand-red;
  color: #FFF;
  font-size: 15px;
  padding: 9px 30px;
  &:hover {
    border-color: #333333;
    background-color: #333333;
  }
  &:active {
    border-color: $color__brand-red;
    background-color: $color__brand-red;
  }
}