// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
/* Footer */
#colophon {
  border-top: 1px solid #e1e1e1;
  background-color: #fff;
  margin-top: 50px;
}

.site-info {
  background-color: #f4f4f4;
  padding: 15px 0;
  *, a {
    font-size: 15px;
    line-height: 25px;
    font-family: "Lato";
  }
}

.back-to-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  color: $color__brand-red;
  border: 1px solid $color__brand-red;
  border-radius: 0;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  line-height: 50px;
  z-index: 100;
}

.back-to-top.back-to-top-is-visible, .back-to-top.back-to-top-fade-out, .no-touch .back-to-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.back-to-top.back-to-top-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;

}

.back-to-top.back-to-top-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .back-to-top:hover {
  border: 1px solid $color__brand-red;
  border-radius: $color__brand-red;
  opacity: 1;
  color: $color__brand-red;
}

@media only screen and (max-width: 768px) {
  .back-to-top {
    line-height: 0;
    font-size: 33px;
  }
}

@media only screen and (min-width: 768px) {
  .back-to-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .back-to-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.site-footer {
  > .widgets-area {
    padding: 40px 0 0 0;
  }
}