// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* Header */
.site-branding {
  padding: 15px;
  @media (min-width: 768px) {
    padding: 15px 15px;
    .site-description {
      margin-bottom: 0;
    }
  }
  @media (max-width: 767px) {
    .header-logo {
      text-align: center;
    }
  }

}

.header-banner {
  text-align: right;
}

.custom-logo {
  margin-top: 25px;
}

.site-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #333;
}