html {
  box-sizing : border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing : inherit;
}

body {
  background : $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes      : "" "";
  margin      : 0;
  display     : block;
  width       : 100%;
  text-align  : center;
  border      : none;

  &:before,
  &:after {
    content          : "";
    background-image : -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image : linear-gradient(to right, transparent, #DBDBDB, transparent);
    border           : 0;
    height           : 1px;
    margin           : 10px 0 40px 0;
    width            : 100%;
    position         : relative;
    display          : block;
  }
  &:after {
    margin : 40px 0 30px 0;
  }

  > p {
    color       : $color__brand-red;
    font-size   : 22px;
    font-weight : 600;
    font-style  : italic;
  }

}

hr {
  background-color : $color__background-hr;
  border           : 0;
  height           : 1px;
  margin-bottom    : 1.5em;
}

@import "lists";

img {
  height    : auto; /* Make sure images are scaled correctly. */
  max-width : 100%; /* Adhere to container width. */
}

@import "tables";
