.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

#comments {
  > h3 {
    &:first-of-type {
      @extend .section-title;
    }
  }
  ul, ol {
    list-style-type: none;
  }

  .comment-awaiting-moderation {
    padding-left: 97px;
  }

  .children {
    margin-top: 15px;
    > .comment {
      border-bottom: none;
      padding-top: 20px;
      border-top: 1px dashed #e1e1e1;
    }
  }
}

.comment-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .comment {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    &:first-of-type {
      padding-top: 0;
    }
  }
  .says {
    display: none;
  }

  .fn {
    font-size: 20px;
  }
  .comment-author {
    > img {
      margin-right: 30px;
    }
  }

  .comment-metadata {
    padding-left: 97px;
    position: relative;
    bottom: 18px;
    > a {
      color: $color__brand-red;
      font-family: $font__main;
      font-size: 15px;
    }
  }

  .comment-content {
    padding-left: 97px;
  }

  .reply {
    @extend .comment-content;
    > a {
      color: $color__brand-red;
      font-family: $font__main;
      font-size: 15px;
      font-weight: 700;
      &:hover {
        color: darken($color__brand-red, 20%);
      }
    }
  }
}

#reply-title {
  font-family: $font__alternate;
  font-size: 20px;
  text-transform: uppercase;
}

.comment-notes {
  display: none;
}

.comment-form {
  [class^="comment-form-"] {
    > input {
      width: 100%;
    }
  }
}