.sticky {
  display: block;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 10px 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.single-post {
  .entry-header {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }

  .entry-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Poppins';
    color: #333333;
  }
}

.archive {
  .entry-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.newsmag-archive-first-posts {
  margin-bottom: 20px;
}

.single-post {
  .newsmag-breadcrumbs {
    margin-top: 20px;
  }
}

/* Author box styling */
.author-description {
  padding-top: 15px;
  position: relative;
  margin: 0;
  img {
    margin-bottom: 20px;
  }
  h4 {
    margin-top: 0;
    > a {
      color: $color__text-title;
      font-size: 15px;
    }
  }
  .social-links {
    display: inline-block;
    padding: 0;
    margin: 0;
    border-top: 1px solid #cfcfcf;
    padding-top: 10px;
    li {
      display: inline-block;
      padding-right: 12px;
      > a {
        font-size: 14px;
        color: #cfcfcf;
        &:hover {
          color: $color__brand-red;
        }
      }
    }
  }

  p {
    font-size: 13px;
    font-family: 'Lato';
    color: #767676;
  }
}

.newsmag-image {
  overflow: hidden;
  display: block;
  > img,
  > a > img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
  }

  &:hover {
    > img,
    > a > img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.newsmag-archive-first-posts {
  margin-top: 15px;
  .entry-title {
    a {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 700;
      color: #333;
    }
  }
}

.newsmag-archive-page {
  .post, .page {
    margin-bottom: 25px;

    .entry-title {
      a {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 700;
        color: #333;
      }
    }
  }

  .newsmag-image-banner {
    img {
      display: block;
      width: 100%;
    }
    a {

    }
  }
}

.nav-links {
  .page-numbers {
    display: inline-block;
    font-family: 'Lato';
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid transparent;
    &.current {
      border-bottom-color: $color__brand-red;
      color: $color__brand-red;
    }
    &.next {
      border: 1px solid #e1e1e1;
      padding: 5px 10px;
      font-size: 12px;
      margin-left: 10px;
      text-transform: uppercase;

    }
    &.prev {
      border: 1px solid #e1e1e1;
      padding: 5px 10px;
      margin-right: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.newsmag-pager {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  padding: 0;
  li {
    display: inline-block;
    font-family: 'Lato';
    font-weight: 700;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid transparent;
    > a {
      font-weight: 700;
    }
    &.active {
      border-bottom-color: $color__brand-red;
      color: $color__brand-red;
    }
    &.prev-next {
      border: 1px solid #ebebeb;
      padding: 10px;
      font-size: 12px;
      a {
        font-size: 12px;
      }
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.blog #primary {
  margin-top: 30px;
}

.newsmag-custom-header {
  height: 200px;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    position: relative;
    top: 40%;
  }
  h2 {
    color: #FFF;
    font-size: 33px;
    font-family: 'Poppins', serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.newsmag-archive-page {
  .newsmag-blog-post-layout {
    margin-bottom: 30px;
  }
}

.newsmag-blog-post-layout {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  @media (min-width: 768px) {
    > .row > .col-xs-12:last-of-type {
      padding-left: 0;
    }
  }
  @media (max-width: 767px) {
    .newsmag-image {
      margin-bottom: 10px;
    }
  }

  .newsmag-image {
    display: inline-block;
    float: left;
    img {
      width: 100%;
    }
  }

  .newsmag-title {
    h3 {
      font-size: 20px;
      font-family: $font__alternate;
      margin-top: 0;
      font-weight: 700;
      > a {
        color: inherit;
        &:hover,
        &:focus {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .newsmag-content {
    margin-top: 10px;
    .newsmag-categories {
      margin: 0;
      padding: 0;
      font-weight: 700;
      color: #bbbbbb;
      font-size: 12px;
      a {
        font-weight: 700;
        color: #bbbbbb;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

.newsmag-article-post {
  .newsmag-date {
    color: #9a9a9a;
    margin-bottom: 30px;
    display: inline-block;
  }
}

.newsmag-article-post-footer {
  .entry-footer {
    margin: 30px 0;
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
  }

  .newsmag-tags {
    a {
      background: #fafafa;
      padding: 10px;
      color: #767676;
    }
  }
}